RewriteEngine On

# Si la petición no es a un archivo o directorio existente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir a public/index.php
RewriteRule ^(.*)$ public/index.php [L]
